<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycle_lrm</key>
	<false/>
	<key>launchOnStartup</key>
	<true/>
	<key>registeredHotkeys</key>
	<dict>
		<key>0</key>
		<dict>
			<key>keyCode</key>
			<integer>36</integer>
			<key>modifiers</key>
			<integer>6144</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>keyCode</key>
			<integer>-1</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>keyCode</key>
			<integer>-1</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>100</key>
		<dict>
			<key>keyCode</key>
			<integer>-1</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>102</key>
		<dict>
			<key>keyCode</key>
			<integer>123</integer>
			<key>modifiers</key>
			<integer>8395264</integer>
		</dict>
		<key>104</key>
		<dict>
			<key>keyCode</key>
			<integer>124</integer>
			<key>modifiers</key>
			<integer>8395264</integer>
		</dict>
		<key>105</key>
		<dict>
			<key>keyCode</key>
			<integer>105</integer>
			<key>modifiers</key>
			<integer>8395264</integer>
		</dict>
		<key>106</key>
		<dict>
			<key>keyCode</key>
			<integer>113</integer>
			<key>modifiers</key>
			<integer>8395264</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>keyCode</key>
			<integer>114</integer>
			<key>modifiers</key>
			<integer>8394752</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>keyCode</key>
			<integer>116</integer>
			<key>modifiers</key>
			<integer>8394752</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>keyCode</key>
			<integer>117</integer>
			<key>modifiers</key>
			<integer>8394752</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>keyCode</key>
			<integer>121</integer>
			<key>modifiers</key>
			<integer>8394752</integer>
		</dict>
		<key>15</key>
		<dict>
			<key>keyCode</key>
			<integer>126</integer>
			<key>modifiers</key>
			<integer>8394752</integer>
		</dict>
		<key>16</key>
		<dict>
			<key>keyCode</key>
			<integer>125</integer>
			<key>modifiers</key>
			<integer>8394752</integer>
		</dict>
		<key>17</key>
		<dict>
			<key>keyCode</key>
			<integer>49</integer>
			<key>modifiers</key>
			<integer>6144</integer>
		</dict>
		<key>18</key>
		<dict>
			<key>keyCode</key>
			<integer>33</integer>
			<key>modifiers</key>
			<integer>6144</integer>
		</dict>
		<key>19</key>
		<dict>
			<key>keyCode</key>
			<integer>105</integer>
			<key>modifiers</key>
			<integer>8394752</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>keyCode</key>
			<integer>123</integer>
			<key>modifiers</key>
			<integer>8394752</integer>
		</dict>
		<key>20</key>
		<dict>
			<key>keyCode</key>
			<integer>107</integer>
			<key>modifiers</key>
			<integer>8394752</integer>
		</dict>
		<key>2001</key>
		<dict>
			<key>keyCode</key>
			<integer>-1</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>2002</key>
		<dict>
			<key>keyCode</key>
			<integer>-1</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>2003</key>
		<dict>
			<key>keyCode</key>
			<integer>-1</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>2004</key>
		<dict>
			<key>keyCode</key>
			<integer>-1</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>2005</key>
		<dict>
			<key>keyCode</key>
			<integer>-1</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>2006</key>
		<dict>
			<key>keyCode</key>
			<integer>-1</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>2007</key>
		<dict>
			<key>keyCode</key>
			<integer>-1</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>2008</key>
		<dict>
			<key>keyCode</key>
			<integer>-1</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>21</key>
		<dict>
			<key>keyCode</key>
			<integer>113</integer>
			<key>modifiers</key>
			<integer>8394752</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>keyCode</key>
			<integer>124</integer>
			<key>modifiers</key>
			<integer>8394752</integer>
		</dict>
		<key>5461</key>
		<dict>
			<key>keyCode</key>
			<integer>-1</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>keyCode</key>
			<integer>30</integer>
			<key>modifiers</key>
			<integer>6144</integer>
		</dict>
		<key>999</key>
		<dict>
			<key>keyCode</key>
			<integer>-1</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>showMenubarIcon</key>
	<false/>
</dict>
</plist>
