[Unit]
Description=Sync package repositories and blocklists every day

[Timer]
OnBootSec=1h
OnUnitActiveSec=1d
AccuracySec=5m

[Install]
WantedBy=timers.target
