[Unit]
Description=Sync package repositories and blocklists every hour

[Timer]
OnBootSec=1h
OnUnitActiveSec=1h
AccuracySec=5m

[Install]
WantedBy=timers.target
