[Unit]
Description=Sync package repositories and blocklists
Wants=network-online.target
After=network-online.target
After=default.target

[Service]
Type=oneshot
ExecStart=/opt/lk-settings/bin/sync-arch.sh

[Install]
WantedBy=default.target
