*.plist filter=plist
accels filter=accels
accels.scm filter=accels
Clementine.conf filter=clementine
flameshot/flameshot.ini filter=flameshot
geeqie/geeqierc.xml filter=geeqie
nomacs/*.conf filter=nomacs
remmina/remmina.pref filter=remmina
speedcrunch/SpeedCrunch.ini filter=speedcrunch
typora/*.data filter=typora
vscode/settings.json filter=vscodesettings
whiskermenu*.rc filter=whiskermenu
xfce4/xfce4-panel-profiles/*.tar.bz2 filter=xfpanelswitch
