SHELL=/bin/bash
PATH=~/.local/bin:/usr/bin:/bin
DISPLAY=:0
MAILTO=

# reset stretchly at the beginning of each work hour
0 9,10 * * 1,2,3,4,5 stretchly reset
15 11,12 * * 1,2,3,4,5 stretchly reset
55 13 * * 1,2,3,4,5 stretchly reset
10 15,16 * * 1,2,3,4,5 stretchly reset

# reminders
20 9,11,15 * * 1,2,3,4,5 stretchly long --noskip -T "Step away NOW." -t "You need 5 minutes away from screens."
20 10,14 * * 1,2,3,4,5 stretchly reset -T "Take a 20-minute break, starting now." -t "Even if you don't think you've earned it."
20 12 * * 1,2,3,4,5 stretchly long --noskip -T "Lunchtime starts NOW." -t "Step away from your desk until 1.55pm."
15 16 * * 1,2,3,4,5 stretchly reset -T "Stop work. NOW." -t "There are many other things worthy of your attention."
