favorites=
button-icon=org.xfce.panel.whiskermenu
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=false
launcher-show-tooltip=true
hover-switch-category=false
category-show-name=true
sort-categories=false
view-mode=2
default-category=1
recent-items-max=20
favorites-in-recent=true
position-search-alternate=true
position-commands-alternate=false
position-categories-alternate=false
position-categories-horizontal=false
stay-on-focus-out=false
profile-shape=0
confirm-session-command=true
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=true
command-logoutuser=loginctl terminate-session ''
show-command-logoutuser=true
command-restart=systemctl reboot
show-command-restart=true
command-shutdown=systemctl poweroff
show-command-shutdown=true
command-suspend=xfce4-session-logout --suspend
show-command-suspend=false
command-hibernate=xfce4-session-logout --hibernate
show-command-hibernate=false
command-logout=xfce4-session-logout
show-command-logout=false
command-menueditor=menulibre
show-command-menueditor=false
command-profile=mugshot
show-command-profile=true
search-actions=4

[action0]
name=Open man page
pattern=^(?:# *|m +)(.+)
command=exo-open --launch TerminalEmulator man \\1
regex=true

[action1]
name=Run in terminal
pattern=^(?:! *|t +)(.+)
command=exo-open --launch TerminalEmulator \\1
regex=true

[action2]
name=Search
pattern=^\\?(?: +|(?=[^?]))(.+)
command=recoll -a -q \\1
regex=true

[action3]
name=Search file names
pattern=^(?:\\?\\? ?|f )(.+)
command=recoll -f -q \\1
regex=true

