<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SmartyPantsOnRendering</key>
	<true/>
	<key>WebAutomaticDashSubstitutionEnabled</key>
	<false/>
	<key>WebAutomaticQuoteSubstitutionEnabled</key>
	<false/>
	<key>WebKitDeveloperExtras</key>
	<false/>
	<key>backgroundColor</key>
	<string>rgba(255, 255, 255, 256)</string>
	<key>backgroundColor2</key>
	<array>
		<real>255</real>
		<real>255</real>
		<real>255</real>
		<real>1</real>
	</array>
	<key>copy_markdown_by_default</key>
	<true/>
	<key>enable_diagram</key>
	<true/>
	<key>enable_highlight</key>
	<true/>
	<key>enable_inline_math</key>
	<true/>
	<key>enable_subscript</key>
	<true/>
	<key>enable_superscript</key>
	<true/>
	<key>hasThemeFolder</key>
	<true/>
	<key>ignoreLineBreak</key>
	<true/>
	<key>image_save_location</key>
	<string>per-file-assert</string>
	<key>preLinebreakOnExport</key>
	<false/>
	<key>save_file_on_switch</key>
	<true/>
	<key>send_usage_info</key>
	<false/>
	<key>show_line_numbers_for_fence</key>
	<true/>
	<key>smartDash</key>
	<true/>
	<key>smartQuote</key>
	<true/>
	<key>strict_mode</key>
	<true/>
	<key>theme</key>
	<string>Github</string>
	<key>useDarkTheme</key>
	<false/>
	<key>useTreeStyle</key>
	<true/>
	<key>use_seamless_window</key>
	<true/>
</dict>
</plist>
