# Only bring the WAN connection up if ip[6]tables started successfully
[Unit]
Description=WAN connection on %I
Requires=NetworkManager.service
Wants=NetworkManager-wait-online.service
Requires=iptables.service
Requires=ip6tables.service
After=NetworkManager.service
After=NetworkManager-wait-online.service
After=iptables.service
After=ip6tables.service
Before=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nmcli --wait 0 conn up %i
ExecStop=/bin/sh -c 'nmcli -g GENERAL.STATE conn show %i | grep . >/dev/null && nmcli conn down %i || :'

[Install]
WantedBy=network-online.target
