# Only bring the WAN connection up if ip[6]tables started successfully
[Unit]
Description=WAN connection on %i
Requires=NetworkManager.service
Wants=NetworkManager-wait-online.service
Requires=iptables.service
Requires=ip6tables.service
After=NetworkManager.service
After=NetworkManager-wait-online.service
After=iptables.service
After=ip6tables.service
Before=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'nmcli -g NAME,AUTOCONNECT conn show --active | grep -Fx "$1:yes" >/dev/null || {\
  nmcli conn mod --temporary "$1" connection.autoconnect yes connection.autoconnect-retries 0;\
  nmcli conn up "$1";\
}' sh %i
ExecStop=/bin/sh -c 'nmcli -g NAME conn show --active | grep -Fx "$1" >/dev/null && {\
  nmcli conn mod --temporary "$1" connection.autoconnect no;\
  nmcli conn down "$1";\
}' sh %i

[Install]
WantedBy=network-online.target
