*.gresource
/byobu/.metadata_available
/byobu/.ssh-agent
/geeqie/history
/http/localhost/code.local
/subl/User/*.*-ca-bundle
/subl/User/*.cache
/subl/User/*.last-run
/typora/conf/*.default.*
/typora/themes/old-themes/
/xfce4/thunar/accels.scm
