*.plist filter=plist

**/accels filter=accels
**/accels.scm filter=accels
Clementine.conf filter=clementine
flameshot.ini filter=flameshot
geeqierc.xml filter=geeqie
**/*.sublime-* filter=jq
**/smerge/User/Diff.sublime-settings filter=sublimediff
**/smerge/User/Preferences.sublime-settings filter=sublimemerge
keepassxc.ini filter=keepassxc
**/nomacs/*.conf filter=nomacs
remmina.pref filter=remmina
SpeedCrunch.ini filter=speedcrunch
**/[tT]ypora/*.data filter=typora
abnerworks.Typora.plist filter=typora-plist
**/vscode/keybindings*.json filter=vscodekeybindings
**/vscode/settings.json filter=vscodesettings
whiskermenu*.rc filter=whiskermenu
**/xfce4-panel-profiles/*.tar.bz2 filter=xfpanelswitch
Zeal.conf filter=zeal
