# Use LS_COLORS and append a character to filename completions to indicate type
set colored-stats On
set visible-stats On

# Use case-insensitive filename completion
set completion-ignore-case On

# Replace common prefixes longer than this with ellipses ("...")
set completion-prefix-display-length 20

# Confirm before displaying this many completions
set completion-query-items 200

# Add a trailing slash to symlink completions when the target is a directory
set mark-symlinked-directories On

# Don't page completions
set page-completions Off

# Show completions immediately
#set show-all-if-ambiguous On
set show-all-if-unmodified On

# Complete words without duplicating text after the cursor (Bash 4+ only)
set skip-completed-text On
